  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/generalPurpose/common/css/common.css" type="text/css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/generalPurpose/common/js/defaultAjax.js"></script>
  <script src="/generalPurpose/common/js/callStored.js"></script>
  <script src="/generalPurpose/common/js/storager.js"></script>
  <script src="/generalPurpose/common/js/searchCookie.js"></script>
  <script src="/generalPurpose/common/js/hederMenuChangeDisabled.js"></script>
